<div class="setup__container">
    <div class="setup-item h-50">
        <div class="setup-item__header--large mb-1 mt-2 self-start h-full">
            <h3>OPTIONS</h3>
        </div>
    </div>
    <div class="setup-item h-2/6">
        <div class="setup-item__border self-center"></div>
        <div class="setup-item__header mb-1 self-start">
            <h3>Types</h3>
        </div>
        <div class="setup-item__content self-center">
            <div class="setup-item__selection-list">
                <div class="setup-item__selection-item" *ngFor="let type of types">
                    <input type="checkbox" [(ngModel)]="type.checked" [checked]="type.checked" [id]="type.name" (change)="validateForm()">
                    <label [for]="type.name" class="">{{getTypeName(type.name)}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="setup-item h-1/6">
        <div class="setup-item__content self-center">
            <div class="setup-dropdown__button" (click)="toggleDistricts()">
                <span class="ml-4">Districts</span><i class="zmdi zmdi-chevron-down mr-4"></i>
            </div>
            <div class="setup-dropdown__list" *ngIf="districtsListVisible">
                <div class="setup-item__selection-item setup-item__selection-item--small" *ngFor="let district of districts">
                    <input [(ngModel)]="district.checked" class="ml-2" type="checkbox" [checked]="district.checked" [id]="district.name" (change)="validateForm()">
                    <label [for]="district.name" class="">{{district.name}}</label>
                </div>                  
            </div>
        </div>
    </div>
    <div class="setup-item h-1/6">
        <div class="setup-item__border self-center"></div>
        <div class="setup-item-input">
            <div class="setup-item__header w-1/2">
                <h3>Amount</h3>
            </div>
            <div class="setup-item-input__container w-1/2">
                <input type="number" placeholder="From 1 to 50" [(ngModel)]="amount" (change)="setAmount()"/>
            </div>
        </div>
    </div>
    <div class="setup-item setup-footer">
        <div class="setup-item__border self-center"></div>
        <div class="setup-item__content self-center">
            <button class="setup-play-button" [ngClass]="{'setup-play-button--active': isValid}" (click)="play()">
                <span>Play</span><i class="zmdi zmdi-globe ml-2 font-light"></i>
            </button>
        </div>
    </div>

</div>
