#ol-map {
    height: 100%;
    & canvas {
        filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7474%) hue-rotate(172deg) brightness(90%) contrast(100%) opacity(50%);
    }
}

.ol-control {
    display: none !important;
}