<!-- <div class="navigation-tab__body" [ngClass]="{'navigation-tab__body--active': tabName == 'Play'}">
    <span class="navigation-tab__text">{{tabName}}</span>
</div> -->
<div class="navigation-tab__container">
    <div class="navigation-tab__body" [ngClass]="{'navigation-tab__body--activ': selectedTab == mainPageTab.Play}" (click)="selectTab(mainPageTab.Play)">
        <span class="navigation-tab__text">Play</span>
    </div>
    <div class="navigation-tab__body" [ngClass]="{'navigation-tab__body--activ': selectedTab == mainPageTab.Tutorial}" (click)="selectTab(mainPageTab.Tutorial)">
        <span class="navigation-tab__text">How it works?</span>
    </div>
    <div class="navigation-tab__body" [ngClass]="{'navigation-tab__body--activ': selectedTab == mainPageTab.About}" (click)="selectTab(mainPageTab.About)">
        <span class="navigation-tab__text">About</span>
    </div>
    <div #marker class="selection-marker"></div>
</div>