.game {
    &__panel {
        height: 100%;
        width: calc(100% / 3);
        overflow: hidden;
    }
    
    &__map {
        height: 100%;
        width: calc(100% / 3 * 2);
        overflow: hidden;
        border-left: 1px solid var(--base-dark);
        position: relative;
    }
    
    &__container {
        overflow: hidden;
        height: 100%;
        width: 100%;
        display: flex;
    }

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: var(--base-bright);
        box-shadow: inset 0px 0px 20px var(--base-middle);
        border-bottom: 1px solid var(--base-dark);
    }

    &-item-name {
        text-align:center;
        font-size: var(--text-big);
        font-weight: 600;

        &--large {
            font-size: var(--text-large);
        }
    }

    &__button {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        width: 160px;
        border-radius: 20px;
        background-color: var(--base-dark);
        font-size: var(--text-big);
        padding: 0.5rem;
        color: var(--base-bright);
        font-weight: 800;
        opacity: 0.25;
        pointer-events: none;

        &-confirm {
            &--active {
                background-color: var(--button-confirm);
                box-shadow: inset 0px 0px 40px var(--button-confirm2);
                opacity: 1;
                pointer-events: auto;
    
                &:hover {
                    box-shadow: inset 0px 0px 40px var(--button-confirm2), 0px 0px 10px var(--button-confirm);
                    transition: box-shadow .2s;
                }
            }
        }

        &-next{
            &--active {
                background-color: var(--base-dark);
                box-shadow: inset 0px 0px 20px var(--base-darker);
                opacity: 1;
                pointer-events: auto;
    
                &:hover {
                    box-shadow: inset 0px 0px 20px var(--base-darker), 0px 0px 10px var(--base-dark);
                    transition: box-shadow .2s;
                }
            }
        }
    }

}
