<div class="about__container">
    <div class="w-2/3 about-description">
        <div class="about__text w-full text-center">
            <span>
                This application was created as a part of engineering thesis at AGH University of Kraków.
                <br>
                Data was taken from <a href="https://msip.krakow.pl">Gmina Miejska Kraków, Portal MSIP Obserwatorium</a> and <a href="https://download.geofabrik.de/europe/poland/malopolskie.html">Geofabrik</a>.
                <br>
                During the development of this application, the following frameworks and technologies were used:    
            </span>
        </div>
        <div class="about__text about__list self-start">
            <div class="text-left">
                <h3>Frontend:</h3>
                <ul>
                    <li>Angular 17</li>
                    <li>Angular Material</li>
                    <li>
                        Openlayers
                        <ul>
                            <li>CartoDB</li>
                            <li>OpenStreetMap</li>
                            <li>Proj4.js</li>
                        </ul>
                    </li>
                    <li>Tailwind CSS</li>
                    <li>ng-circle-progress</li>
                    <li>Toastr</li>
                </ul>
            </div>
        </div>
        <div class="about__text about__list self-start">
            <div class="text-left">
                <h3>Backend:</h3>
                <ul>
                    <li>.NET 8
                        <ul>
                            <li>Entity Framework Core</li>
                            <li>Npgsql with NetTopologySuite</li>
                        </ul>
                    </li>
                    <li>xUnit</li>
                    <li>PostgreSQL with PostGIS extension</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-1/3">
        <img src="assets/agh_logo.png">
    </div>
</div>