:root {
    --base-bright: #fff;
    --base-brighter: #ddd;
    --base-middle: #ccc;
    --base-darker: #aaa;
    --base-dark: #000;

    --header-dark: rgba(16, 16, 32, 0.9);

    --button-confirm: #0b0;
    --button-confirm2: #8b8;

    --text-small: 15px;
    --text-normal: 18px;
    --text-big: 24px;
    --text-large: 32px;
}